@{
    ViewBag.Title = "Home Page";
}

<form class="form-horizontal" action="/Home/Login" method="get">
    <div class="form-group"><br />
        <label for="UserName">UserName</label>
        <input type="text" id="username" name="username" class="form-control" />
        <div class="dropdown">
         <label>Color</label>
            <div id="myDropdown" class="dropdown-content">
                <select>
                    <option value="Purple">Purple</option>
                    <option value="Pink">Pink</option>
                    <option value="Green">Green</option>
                    <option value="Orange">Orange</option>
                    <option value="Blue">Blue</option>
                    <option value="Red">Red</option>
                    <option value="Silver">Silver</option>
                    <option value="Violet">Violet</option>
                </select>
            </div>
        </div><br />
        <label for="age">Age</label>
        <input type="text" name="age" class="form-control" /><br />
     </div>
        <div class="form-group">

            <input type="submit" class="btn btn-primary" name="Register" />
            <input type="reset" class="btn btn-warning" name="Reset Form" />

        </div>
</form>