
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<label for="UserName">UserName</label>
@ViewBag.UserName<br />
<label>Color</label>
@ViewBag.Color<br />
<label for="age">Age</label>
@ViewBag.Age<br />

